game-server/logs/*
game-server/logs/pomelo-admin.log
game-server/logs/pomelo-connector-server-1.log
game-server/logs/pomelo-master-server-1.log
game-server/logs/pomelo-connector-server-2.log
game-server/logs/pomelo-fight-server-1.log
game-server/logs/pomelo-fight-server-2.log
game-server/logs/pomelo-fight-server-3.log
game-server/logs/pomelo-gate-server-1.log
game-server/logs/admin.log
game-server/logs/admin.log
